Repository samchouse/flux-ui: changes, and which Codecov flags are due for each by the changed paths.
All: docs, checkbox, core, hooks, react, switch

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: '70...100'
  status:
    project:
      default:
        base: auto
        target: auto
        threshold: 5%
      docs:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - docs
      checkbox:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - checkbox

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: false

flags:
  docs:
    paths:
      - docs/
    carryforward: true
  checkbox:
    paths:
      - packages/checkbox/
    carryforward: true
  core:
    paths:
      - packages/core/
    carryforward: true
  hooks:
    paths:
      - packages/hooks/
    carryforward: true
  react:
    paths:
      - packages/react/
    carryforward: true
  switch:
    paths:
      - packages/switch/
    carryforward: true

chore(deps): upgrade deps
  docs/package.json
  package.json
  yarn.lock
Due: docs

chore(deps): upgrade deps (#69)
  docs/package.json
  package.json
  yarn.lock
Due: docs

chore(deps): update nextjs monorepo to v12.1.5
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.3
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.4
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.5
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.6
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @rollup/plugin-commonjs to v22
  package.json
  yarn.lock
Due: none

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
Due: none

chore(deps): update dependency @types/react to v18.0.7
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.8
  docs/package.json
  yarn.lock
Due: docs

fix(deps): update react monorepo to v18.1.0
  docs/package.json
  yarn.lock
Due: docs

chore(deps): upgrade
  docs/package.json
  package.json
  packages/core/package.json
  yarn.lock
Due: docs, core

chore(deps): update dependency typescript to v4.6.4
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency eslint to v8.14.0
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency jest to v28
  package.json
  yarn.lock
Due: none

chore(deps): upgrade
  package.json
  yarn.lock
Due: none

test(misc): add jest jsdom
  package.json
  yarn.lock
Due: none

chore(deps): upgrade (#83)
  docs/package.json
  package.json
  packages/core/package.json
  yarn.lock
Due: docs, core

chore(deps): update dependency @types/react to v18.0.9
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.1.6
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency eslint to v8.15.0
  docs/package.json
  yarn.lock
Due: docs

chore(deps): upgrade
  docs/package.json
  package.json
  yarn.lock
Due: docs

chore(deps): upgrade (#88)
  docs/package.json
  package.json
  yarn.lock
Due: docs

chore(misc): fix security vulnerabilities
  package.json
  yarn.lock
Due: none

chore(deps): update yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(deps): update dependency ansi-regex to v6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency trim to v1
  package.json
  yarn.lock
Due: none

chore(deps): update lockfile
  yarn.lock
Due: none

chore(deps): upgrade (#93)
  package.json
  yarn.lock
Due: none

chore(deps): update dependency glob-parent to v6
  package.json
  yarn.lock
Due: none

chore(deps): update lockfile
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: none

fix(deps): make linting work
  .github/workflows/cd.yml
  .lintstagedrc.js
  .yarn/patches/rollup-plugin-ts-npm-2.0.5-9d9fec7bf1.patch
  docs/package.json
  package.json
  packages/checkbox/package.json
  packages/react/tsconfig.json
  scripts/build.ts
  tsconfig.json
  yarn.lock
Due: docs, checkbox, react

chore(deps): update dependency typescript to v4.7.2
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update crazy-max/ghaction-import-gpg action to v5
  .github/workflows/cd.yml
Due: none

chore(deps): update dependency rollup-plugin-ts to v3
  package.json
  yarn.lock
Due: none
