Repository samchouse/flux-ui: changes, and which Codecov flags are due for each by the changed paths.
All: docs, checkbox

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: '70...100'
  status:
    project:
      default:
        base: auto
        target: auto
        threshold: 5%
      docs:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - docs
      checkbox:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - checkbox

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: false

flags:
  docs:
    paths:
      - docs/
    carryforward: true
  checkbox:
    paths:
      - packages/checkbox/
    carryforward: true

ci(misc): fix jest
  .github/workflows/labeler.yml
  jest.config.ts
Due: none

feat(checkbox): finish component (#44)
  .eslintrc
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .vscode/settings.json
  codecov.yml
  jest.config.ts
  package.json
  packages/checkbox/package.json
  packages/checkbox/src/checkbox-icon.tsx
  packages/checkbox/src/checkbox.styles.ts
  packages/checkbox/src/checkbox.test.tsx
  packages/checkbox/src/checkbox.tsx
  packages/core/src/index.ts
  packages/core/src/theme/common.ts
  packages/core/src/typings/index.ts
  templates/component/.eslintrc.hbs
  turbo.json
  yarn.lock
Due: checkbox

chore(misc): fix jest
  jest.config.ts
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore(deps): update dependency @types/react to v17.0.42
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v17.0.43
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency typescript to v4.6.3
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency eslint to v8.12.0
  docs/package.json
  yarn.lock
Due: docs

fix(misc): jest
  .github/labeler.yml
  .github/workflows/main.yml
  docs/package.json
  jest.config.js
  jest.config.ts
  package.json
  packages/checkbox/package.json
  packages/checkbox/src/checkbox.spec.tsx
  yarn.lock
Due: docs, checkbox

fix(misc): jest (#51)
  .github/labeler.yml
  .github/workflows/main.yml
  docs/package.json
  jest.config.js
  jest.config.ts
  package.json
  packages/checkbox/package.json
  packages/checkbox/src/checkbox.spec.tsx
  yarn.lock
Due: docs, checkbox

feat(switch): add component
  .eslintrc
  packages/checkbox/package.json
  packages/checkbox/src/checkbox-icon.tsx
  packages/checkbox/src/checkbox.spec.tsx
  packages/checkbox/src/checkbox.tsx
  packages/react/src/index.ts
  packages/switch/.eslintrc
  packages/switch/README.md
  packages/switch/package.json
  packages/switch/src/index.ts
  packages/switch/src/switch.spec.tsx
  packages/switch/src/switch.stories.tsx
  packages/switch/src/switch.styles.ts
  packages/switch/src/switch.tsx
  packages/switch/tsconfig.json
  plopfile.js
  templates/component/package.json.hbs
  templates/component/src/{{name}}.spec.tsx.hbs
  yarn.lock
Due: checkbox

feat(switch): bordered
  packages/switch/src/switch.styles.ts
  packages/switch/src/switch.tsx
Due: none

fix(switch): add support for switch in codecov and labeller
  .github/labeler.yml
  codecov.yml
Due: none

feat(switch): add component (#52)
  .eslintrc
  .github/labeler.yml
  codecov.yml
  packages/checkbox/package.json
  packages/checkbox/src/checkbox-icon.tsx
  packages/checkbox/src/checkbox.spec.tsx
  packages/checkbox/src/checkbox.tsx
  packages/react/src/index.ts
  packages/switch/.eslintrc
  packages/switch/README.md
  packages/switch/package.json
  packages/switch/src/index.ts
  packages/switch/src/switch.spec.tsx
  packages/switch/src/switch.stories.tsx
  packages/switch/src/switch.styles.ts
  packages/switch/src/switch.tsx
  packages/switch/tsconfig.json
  plopfile.js
  templates/component/package.json.hbs
  templates/component/src/{{name}}.spec.tsx.hbs
  yarn.lock
Due: checkbox

chore(release): v0.0.4
  docs/package.json
  packages/checkbox/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/react/package.json
  packages/switch/package.json
Due: docs, checkbox

chore(release): push changelog for v0.0.4
  CHANGELOG.md
Due: none

ci(misc): rename CIs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix(misc): update turbo.json
  turbo.json
Due: none

chore(deps): update nextjs monorepo to v12.1.2
  docs/package.json
  yarn.lock
Due: docs

fix(deps): update react monorepo to v18
  docs/package.json
  yarn.lock
Due: docs

feat(misc): react 18
  .eslintrc
  .prettierrc.js
  package.json
  packages/checkbox/package.json
  packages/checkbox/src/checkbox.styles.ts
  packages/checkbox/src/checkbox.tsx
  packages/core/package.json
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/use-id/use-id.ts
  packages/hooks/src/use-uuid/use-uuid.ts
  packages/react/package.json
  packages/switch/package.json
  packages/switch/src/switch.styles.ts
  packages/switch/src/switch.tsx
  templates/component/package.json.hbs
  tsconfig.json
  yarn.lock
Due: checkbox

feat(misc): react 18 (#56)
  .eslintrc
  .prettierrc.js
  package.json
  packages/checkbox/package.json
  packages/checkbox/src/checkbox.styles.ts
  packages/checkbox/src/checkbox.tsx
  packages/core/package.json
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/use-id/use-id.ts
  packages/hooks/src/use-uuid/use-uuid.ts
  packages/react/package.json
  packages/switch/package.json
  packages/switch/src/switch.styles.ts
  packages/switch/src/switch.tsx
  templates/component/package.json.hbs
  tsconfig.json
  yarn.lock
Due: checkbox

chore(hooks): cleanup unused files
  packages/hooks/src/utils/index.ts
  packages/hooks/src/utils/random-id/random-id.ts
Due: none

fix(hooks): unresolved path
  packages/hooks/src/index.ts
Due: none

feat(scripts): allow eslint skipping
  scripts/eslint.ts
Due: none

chore(hooks): cleanup unused files (#57)
  packages/hooks/src/index.ts
  packages/hooks/src/utils/index.ts
  packages/hooks/src/utils/random-id/random-id.ts
  scripts/eslint.ts
Due: none

chore(release): v0.0.5
  docs/package.json
  packages/checkbox/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/react/package.json
  packages/switch/package.json
Due: docs, checkbox

chore(release): push changelog for v0.0.5
  CHANGELOG.md
Due: none

ci(misc): fix cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Due: none

ci(misc): fix cd (#60)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Due: none

ci(misc): fix publishing
  .github/workflows/cd.yml
Due: none

chore(deps): update nextjs monorepo to v12.1.3
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update nextjs monorepo to v12.1.4
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @testing-library/react to v13
  package.json
  yarn.lock
Due: none

test(misc): act in tests
  packages/checkbox/src/checkbox.spec.tsx
  packages/switch/src/switch.spec.tsx
Due: checkbox

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @types/react to v17.0.44
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.1
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency eslint to v8.13.0
  docs/package.json
  yarn.lock
Due: docs
