Repository samchouse/flux-ui: changes, and which Codecov flags are due for each by the changed paths.
All: docs, checkbox, core, hooks, react, switch

chore(deps): upgrade
  .prettierrc.js
  docs/package.json
  package.json
  packages/core/src/theme/common.ts
  yarn.lock
Due: docs, core

chore(deps): upgrade (#101)
  .prettierrc.js
  docs/package.json
  package.json
  packages/core/src/theme/common.ts
  yarn.lock
Due: docs, core

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.7.3
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency eslint to v8.17.0
  docs/package.json
  yarn.lock
Due: docs

chore(deps): upgrade
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18.0.11
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.12
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @swc/helpers to ^0.4.0
  package.json
  yarn.lock
Due: none

fix(deps): update react monorepo to v18.2.0
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency @types/react to v18.0.13
  docs/package.json
  yarn.lock
Due: docs

chore(deps): update dependency npm-check-updates to v14
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18.0.14
  docs/package.json
  yarn.lock
Due: docs

fix(checkbox): update to new icon
  packages/checkbox/src/checkbox-icon.tsx
Due: checkbox

chore(deps): upgrade
  docs/package.json
  package.json
  packages/checkbox/package.json
  yarn.lock
Due: docs, checkbox

fix(deps): update lockfile
  yarn.lock
Due: none

chore(deps): upgrade (#142)
  docs/package.json
  package.json
  packages/checkbox/package.json
  yarn.lock
Due: docs, checkbox

chore: update renovate preset
  .github/renovate.json
Due: none

chore: cleanup
  docs/package.json
  package.json
  packages/button/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/theme/common.ts
  packages/core/src/theme/index.ts
  packages/core/src/theme/stitches.config.ts
  packages/core/src/typings/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/use-id/use-id.ts
  packages/hooks/src/use-isomorphic-effect/use-isomorphic-effect.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/tsconfig.json
  scripts/utils/prerun.ts
  templates/component/src/{{name}}.stories.tsx.hbs
  templates/component/tsconfig.json.hbs
  yarn.lock
Due: docs, core, hooks, react

ci: speed up chromatic run
  .github/workflows/ci.yml
Due: none

chore(misc): move to vitest
  .babelrc.json
  .github/workflows/ci.yml
  .storybook/main.ts
  .vscode/settings.json
  jest.config.js
  package.json
  packages/button/src/button.spec.tsx
  vite.config.ts
  yarn.lock
Due: none

chore(misc): fix ci and rewrite build script
  .github/workflows/ci.yml
  package.json
  packages/button/package.json
  packages/button/tsconfig.build.json
  packages/button/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  scripts/build.ts
  scripts/utils/prerun.ts
  templates/component/package.json.hbs
  templates/component/tsconfig.build.json.hbs
  tsconfig.json
  turbo.json
  yarn.lock
Due: core, hooks, react

chore(misc): update lockfile
  package.json
  yarn.lock
Due: none

fix(button): types
  packages/button/src/button.spec.tsx
  packages/button/src/button.styles.ts
  packages/button/src/button.tsx
  tsconfig.json
Due: none

chore(deps): upgrade
  .eslintrc
  package.json
  packages/button/src/button.tsx
  scripts/build.ts
  yarn.lock
Due: none

Path conditions:
  docs: any of: docs/
  checkbox: any of: packages/checkbox/
  core: any of: packages/core/
  hooks: any of: packages/hooks/
  react: any of: packages/react/
  switch: any of: packages/switch/
